* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 100px;
    background: #555555;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {
    position: relative;
    padding: 0 0 100px;
}
#content #calendar, #task_list{
    position: absolute;
    height: 100%;
}
#calendar{
    width: 80%;
    left: 0px;
}
#task_list{
    width: 20%;
    right: 0px;
}
/* ModalWrap
-----------------------------------------------------------------------------*/
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('images/opaque_bg.png');
    z-index: 10;
}
.create_table {
    background: #fff url(images/modal_repeat.jpg) left top repeat !important;
    height: 260px;
    width: 447px;
    border: 3px solid #cdcdcd;
    border-radius: 3px !important;
    padding: 20px;
    position: relative;
    left: 35%;
}
.reveal-modal .close-reveal-modal.close {
    font-size: 16px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 100%;
    margin: -100px auto 0;
    height: 100px;
    background: #555555;
    position: relative;
}

#add_task{
    margin-left: 134px;
    margin-top: 35px;
}
#list{
    margin-left: 176px;
}
#destroy{
    font-size: 16px;
    line-height: .5;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}